* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background: skyblue;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

header nav a {
    margin-left: 20px;
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.hero {
    height: 90vh;
    background: url("images/image1.jpg") no-repeat center center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding-left: 80px;
    color: white;
}

.hero-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
}

.hero-content p {
    margin-bottom: 20px;
    font-size: 18px;
}

.hero button {
    padding: 12px 30px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-weight: bold;
}

.products {
    display: flex;
    justify-content: center;
    padding: 60px;
    gap: 40px;
}

.product {
    text-align: center;
}

.product img {
    width: 280px;
    height: 350px;
    object-fit: cover;
}

.product h3 {
    margin-top: 15px;
}

.product p {
    margin-top: 5px;
    color: gray;
}
